Code/progressive_growing_of_gans/datasets/
Code/progressive_growing_of_gans/results/
Code/progressive_growing_of_gans/git-folder/

Code/SPADE/checkpoints/
Code/SPADE/results/
Code/SPADE/git-folder/

Code/stylegan2/datasets/
Code/stylegan2/results/

Code/Unet-weights/

Conda/

Data/
